.mainPageContent {
  display: flex;
  flex-flow: column;
}

.topRow {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.headerSection {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.statsSection {
  display: flex;
  position: relative;
  flex-flow: row;
}

.leftCol {
  display: flex;
  flex-basis: auto;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  width: 100%;
  position: relative;
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}

.welcomeSection {
  margin-bottom: 2rem;
}

.welcomeSection p {
  margin: 1rem 0;
}

.playerSearchForm {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  row-gap: 1rem;
}

.playerSearchForm img {
  margin: 1rem 0;
  border: solid 2px #2d9e87;
}

.playerSearchForm button {
  padding: 0.6rem;
}

.adminAuxBtns {
  display: flex;
  flex-flow: row;
  column-gap: 0.5rem;
}

.adminAuxBtns button {
  padding: 0.3rem;
}

.adminFormSection {
  display: flex;
  flex-flow: column;
  row-gap: 1rem;
}

.playerInputFormSection {
  display: flex;
  flex-flow: column;
  row-gap: 1rem;
}

.playerProfileInput {
  width: 400px;
}

.formBtnsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 1rem;
}

.sentinel {
  position: absolute;
  top: 4.5rem;
  height: 1px;
}

.playlistFilterSection {
  padding: 0.5rem 0 1rem 0;
  margin-top: 2rem;
  display: flex;
  flex-flow: column;
  row-gap: 0.6rem;
  position: sticky;
  align-items: flex-start;
  z-index: 1;
  top: 0;
  background-color: transparent;
  transition: font-size 0.25s ease;
}

.sticky {
  background-color: #17181c;
  font-size: 0.8rem;
}

.playlistFilterSection h4 {
  font-style: italic;
}

.playlistBtnsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5rem;
}
.playlistBtnsContainer button {
  padding: 0.5rem 1rem;
}

.rightCol {
  display: none;
}

@media (min-width: 768px) {
  .rightCol {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    position: relative;
    /* flex-basis: 30%; */
  }
}

@media (min-width: 992px) {
  .playerProfileInput {
    width: 550px;
  }
}
