.carBtnsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.7rem;
}

.carsFilterSection {
  display: flex;
  flex-flow: column;
  row-gap: 0.6rem;
  align-items: center;
}

.carsFilterSection h4 {
  font-style: italic;
  /* text-align: center; */
}

.carBtnsContainer button {
  padding: 0.3rem 0.6rem;
}
