/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #17181c;
  color: #dbdbdb;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  width: 100%;
}

#root {
  margin: 0 1.5rem;
}

button {
  border: 1px solid transparent;
  background-color: #2d9e87;

  cursor: pointer;
  color: #fff;
}
button:hover {
  background-color: #29917d;
}

button:active {
  background-color: #217362;
  outline: 3px solid #2d9e87;
}

input {
  background-color: #0a0a0a;
  color: #e6e8ef;
  border: 1px solid transparent;
  padding: 0.6rem 0.4rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}

input:focus {
  outline: solid 2px #2d9e87;
}

canvas {
  margin: 1rem 0;
  background-color: #333333;
  padding: 1rem;
}

.chart-container {
  position: relative;
  width: clamp(300px, 100%, 500px);
}

a {
  color: #5ea3e4;
}

a:hover {
  color: #e6e8ef;
}

input,
button {
  border-radius: 5px;
}

input {
  margin-left: 0.4rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(120deg)
    brightness(100%) contrast(100%);
}

hr {
  height: 1px;
  width: 70%;
  margin-top: 2rem;
  background-color: #333333;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.7rem;
}

table,
th,
td {
  border: 2px solid #dbdbdb;
  padding: 0.6rem 0.9em;
}

th {
  font-weight: 600;
}

caption {
  margin-bottom: 0.3rem;
  font-weight: 600;
  font-size: 1.1rem;
}

ul {
  display: flex;
  flex-flow: column;
  gap: 0.3rem;
}

li {
  list-style-type: square;
  list-style-position: inside;
}

img {
  width: 100%;
  max-width: 700px;
}

footer {
  width: 100%;
  height: 300px;
  text-align: center;
  /* background-color: #333333; */
  padding: 1rem;
  margin: 2rem 0 0 0;

  box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
}

.focused {
  background-color: #217362;
  outline: 3px solid #2d9e87;
}

.focused:hover {
  background-color: #217362;
}

.sidebar {
  margin-left: 1rem;
  position: sticky;
  top: 13rem;
  height: auto;
  background-color: #17181c;
  padding: 0.8rem;
  font-size: 1.1rem;
}

.sidebar a {
  text-decoration: none;
}

.sidebar li {
  display: flex;
  flex-flow: column;
  justify-items: center;
  list-style: none;
}

.sidebar li a {
  padding-left: 0.3rem;
}

.sidebar li a:hover {
  border-left: 3px #2d9e87 solid;
}

.sidebar-focused {
  color: #e6e8ef;
  border-left: 3px #2d9e87 solid;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* ...; */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* ...; */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* ...; */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* ...; */
}
